
{% load static %}
<!-- MENU SECTION -->
       <div id="left" >
            <div class="media user-media well-small">
                <a class="user-link" href="#">
                    <img class="media-object img-thumbnail user-img" alt="User Picture" src="{%  static 'assets/img/user.gif'%}" />
                </a>
                <br />
                <div class="media-body">
                    <h5 class="media-heading">{% if user.id is not None %} {{ user.first_name }} {{ user.last_name }} {% else %} Misafir{% endif %}</h5>
                    <ul class="list-unstyled user-info">

                        <li>
                             <a class="btn btn-{% if user.id is not None %}success{% else %}danger{% endif %} btn-xs btn-circle" style="width: 10px;height: 12px;"></a>{% if user.id is not None %} Online{% else %}Offline {% endif %}

                        </li>

                    </ul>
                </div>
                <br />
            </div>

            <ul id="menu" class="collapse">


                <li class="panel">
                    <a href="/" >
                        <i class="icon-table"></i> Dashboard


                    </a>
                </li>

                 <li class="panel">
                     {% if user.id is not Not %}


                     <a href="/students" data-parent="#menu" data-toggle="collapse" class="accordion-toggle" data-target="#blank-nav">
                        <i class="icon-check-empty"></i> Öğrencilerim
                    </a>
                     <a href="/hakkimizda" data-parent="#menu" data-toggle="collapse" class="accordion-toggle" data-target="#blank-nav">
                        <i class="icon-check-empty"></i> Hakkımızda
                    </a>
                     <a href="/referanslar" data-parent="#menu" data-toggle="collapse" class="accordion-toggle" data-target="#blank-nav">
                        <i class="icon-check-empty"></i> Referanslar
                    </a>
                    <a href="/iletisim" data-parent="#menu" data-toggle="collapse" class="accordion-toggle" data-target="#blank-nav">
                        <i class="icon-check-empty"></i> İletişim
                    </a>
                     <a href="/logout/"><i class="icon-signout"></i> Logout</a>
                         {% else %}
                         <a href="/login/"><i class="icon-signin"></i> Login</a>
                     {% endif %}
                </li>

            </ul>

        </div>
        <!--END MENU SECTION -->