{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>{% block title %} Kullanıcı Girişi {% endblock %}</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="{% block keywords %} Anasayfa Anahtar Kelimeler{% endblock %}" name="keywords" />
	<meta content="{% block description %} Anasayfa Kısa Açıklama{% endblock %}" name="description" />
	<meta content="" name="author" />
     <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <![endif]-->
    <!-- GLOBAL STYLES -->
    <link rel="stylesheet" href="{%  static 'assets/plugins/bootstrap/css/bootstrap.css'%}" />
    <link rel="stylesheet" href="{%  static 'assets/css/main.css'%}" />
    <link rel="stylesheet" href="{%  static 'assets/css/theme.css'%}" />
    <link rel="stylesheet" href="{%  static 'assets/css/MoneAdmin.css'%}" />
    <link rel="stylesheet" href="{%  static 'assets/plugins/Font-Awesome/css/font-awesome.css'%}" />
    <!--END GLOBAL STYLES -->

    <!-- PAGE LEVEL STYLES -->
    <link href="{%  static 'assets/css/layout2.css'%}" rel="stylesheet" />
       <link href="{%  static 'assets/flot/examples/examples.css'%}" rel="stylesheet" />
       <link rel="stylesheet" href="{%  static 'assets/plugins/timeline/timeline.css'%}" />
    <!-- END PAGE LEVEL  STYLES -->
     <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    {% block head %} {% endblock %}
</head>

<body class="padTop53">
 <div id="wrap" >
{% include 'header.html' %}

{% block leftsidebar %}{%  include 'leftsidebar.html' %}{% endblock %}
{% block content %}
     <div id="content">

            <div class="container">
                <div class="col-lg-12">


                        <h2>Giriş Sayfası</h2>

                    <hr/>


                    </div>
                 {% if messages %}
                        {%  for message in messages %}
                        <div class="alert-{{ message.tags }}" role="alert">
                            {{ message }}
                        </div>
                        {% endfor %}
                    {% endif %}
    <div class="tab-content">
        <div id="login" class="tab-pane active">
            <form action="" class="form-signin" method="POST">
                {% csrf_token %}
                <p class="text-muted text-center btn-block btn btn-primary btn-rect">
                    Lütfen Kullanıcı Adı ve Şifrenizi Giriniz
                </p>
                <input name="username" type="text" placeholder="Kullanıcı Adı" class="form-control" />
                <input name="password" type="password" placeholder="Şifre" class="form-control" />
                <button class="btn text-muted text-center btn-danger" type="submit" value="Login">Sign in</button>
            </form>
        </div>
    </div>
    <!--<div class="text-center">
        <ul class="list-inline">
            <li><a class="text-muted" href="#login" data-toggle="tab">Login</a></li>
            <li><a class="text-muted" href="#forgot" data-toggle="tab">Forgot Password</a></li>
            <li><a class="text-muted" href="#signup" data-toggle="tab">Signup</a></li>
        </ul>
    </div>-->


</div>
        </div>
 {% endblock %}

     {% block rightsidebar %}{%  include 'rightsidebar.html' %}{% endblock %}
 </div>
{% block footer %} {% include 'footer.html' %}{% endblock %}


</body>
</html>